<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senkatel.bereznikov.bulletinboard.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application android:allowBackup="true"
        android:icon="@drawable/bb"
        android:label="BB"
        android:theme="@style/AppTheme">

        <activity android:name="com.senkatel.bereznikov.bulletinboard.bulletinboard.BBGridActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.senkatel.bereznikov.bulletinboard.categories.CategoriesActivity"/>
        <activity android:name="com.senkatel.bereznikov.bulletinboard.cities.CitiesActivity"/>
        <activity android:name="com.senkatel.bereznikov.bulletinboard.contacts.ContactActivity"/>
        <activity android:name="com.senkatel.bereznikov.bulletinboard.bulletinboard.BBDetailedActivity"/>
        <activity android:name="com.senkatel.bereznikov.bulletinboard.bulletinboard.AddBulletinActivity"/>
        <activity android:name=".PreferencesActivity"/>
        <activity android:name="com.senkatel.bereznikov.bulletinboard.bulletinboard.PriceFilterActivity"/>
        <activity android:name="com.senkatel.bereznikov.bulletinboard.cities.CityAddActivity"/>
        <activity android:name="com.senkatel.bereznikov.bulletinboard.categories.CategoryAddActivity"/>

    </application>

</manifest>
